@{
    ViewBag.Title = "Home Page";
}

<div>
    <p>Hello, @ViewBag.Name</p>
    <h2>@ViewBag.Message</h2>
    <h2>@ViewBag.Title</h2>
    <p>@Html.ActionLink("Register", "Register", "Home")</p>
    <h1>@Html.ActionLink("Contact", "Contact", "Home")</h1>
    
</div>
