
@{
    ViewBag.Title = "Summary";
}

<h2>The Information you submitted.</h2>
<h4><em>You are now married to this identity.</em></h4>

<h3>@ViewBag.Title</h3>

<h3>@ViewBag.Message</h3>

<h3>@ViewBag.thePass</h3>

<h3>@ViewBag.Email</h3>

<h3>@ViewBag.Phone</h3>